/*
VARIABLES
*/
:root {
    --button-border-radius: 12px;
    --animation-duration: 0.5s;
    --model-height: 70px;
    /* --payment-height: 40px; */
    --book-height: 40px;
    --margin-y: 10px;
    --translate-y: calc(
        var(--model-height)
        /* + var(--payment-height) */
        + var(--book-height)
        + var(--margin-y)
        /*+ 2px  border + box shadow should be 4px, I have no idea why 2px is enough? */
    );
}



/*
BOTTOMBAR
*/
.bottombar {
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    
    transition: all var(--animation-duration) ease 0s;
    -webkit-transition: all var(--animation-duration) ease 0s;
}

.bottombar-visible {
    transform: translate3d(0px, 0px, 0px);
}

.bottombar-hidden {
    transform: translate3d(0px, var(--translate-y), 0px);
}



/*
SCAN BUTTON
*/
#scan .fa-qrcode {
    vertical-align: middle;
    font-size: large;
    color: green;
}

#scan {
    position: relative;
    height: 35px;
    width: 90%;
    left: 5%;
    margin: var(--margin-y) auto;

    border: solid 1px lightgray;
    border-radius: var(--button-border-radius);
    box-shadow: 0 3px 3px gray;
    background-color: white;
}



/*
DETAILPANEL
*/
.details {
    z-index: 1;
    margin: 0 auto var(--margin-y) auto;
    width: 90%;

    border: solid 1px lightgray;
    border-radius: var(--button-border-radius);
    box-shadow: 0 3px 3px gray;
}

.details .model {
    display: table;
    height: var(--model-height);
    width: 100%;
    padding: 10px;

    border-top-right-radius: var(--button-border-radius);
    border-top-left-radius: var(--button-border-radius);
    background-color: white;
}

.details .model .image {
    display: table-cell;
    width: 50px;
    height: 50px;
    padding: 2px;
    
    vertical-align: middle;
    border-radius: 50%;
    background-color: lightgrey;
}
.details .model .image img{
    width:100%;
    height: auto;
}

.details .model .text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.details .model .text > * {
    margin: 6px;
}
.details .model .text .title {
    font-weight: bold;
}
.details .model .text .description {
    font-size: small;
}

/* .details #payment {
    height: var(--payment-height);
    background-color: white;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
} */

.details #book {
    height: var(--book-height);
    width: 100%;

    border: none;
    border-top: solid 1px lightgray;
    border-bottom-right-radius: var(--button-border-radius);
    border-bottom-left-radius: var(--button-border-radius);
    background-color: greenyellow;
}