/*
VARIABLES
*/
:root {
    --button-border-radius: 12px;
    --animation-duration: 0.5s;
    --model-height: 70px;
    --payment-height: 40px;
    --book-height: 40px;
    --margin-y: 10px;
    --translate-y: calc(
        var(--model-height)
        + var(--payment-height)
        + var(--book-height)
        + var(--margin-y)
        /*+ 2px  border + box shadow should be 4px, I have no idea why 2px is enough? */
    );
}



/*
BOTTOMBAR
*/
.bottombar {
    z-index: 1;
    position: absolute;
    width: 90%;
    max-width: 400px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    
    transition: all var(--animation-duration) ease 0s;
    -webkit-transition: all var(--animation-duration) ease 0s;
}

.bottombar-visible {
    transform: translate3d(0px, 0px, 0px);
}

.bottombar-hidden {
    transform: translate3d(0px, var(--translate-y), 0px);
}



/*
SCAN BUTTON
*/
#scan .fa-qrcode {
    vertical-align: middle;
    font-size: large;
    color: green;
}

#scan {
    position: relative;
    height: 35px;
    width: 100%;
    margin: var(--margin-y) auto;

    border: solid 1px lightgray;
    border-radius: var(--button-border-radius);
    box-shadow: 0 3px 3px gray;
    background-color: white;
}



/*
DETAILPANEL
*/
.details {
    z-index: 1;
    margin: 0 auto var(--margin-y) auto;
    width: 100%;

    border: solid 1px lightgray;
    border-radius: var(--button-border-radius);
    box-shadow: 0 3px 3px gray;
}

/* model */
.details .model {
    position: relative;
    height: var(--model-height);
    width: 100%;

    border-top-right-radius: var(--button-border-radius);
    border-top-left-radius: var(--button-border-radius);
    background-color: white;
}

.details .model .bike-image {
    float: left;
    width: 20%;
    height: 100%;
    padding: 2%;
    
    vertical-align: middle;
}

.details .model .text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0%,-50%);
    width: 80%;
}
.details .model .text > * {
    margin: 2.5%;
}
.details .model .text .title {
    font-weight: bold;
}
.details .model .text .description {
    font-size: small;
}

/* payment*/
.details #payment {
    height: var(--payment-height);
    width: 100%;

    background-color: white;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}
.details #payment .payment-image {
    float: left;
    width: 20%;
    height: 100%;
    padding: 2.5%;
    
    vertical-align: middle;
}
.details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.details #payment .text {
    vertical-align: middle;
}
.details #payment .text > * {
    margin: 1%;
    font-size: small;
}
.details #payment .text .title {
    font-weight: bold;
}


/* reserve */
.details #book {
    height: var(--book-height);
    width: 100%;

    border: none;
    border-top: solid 1px lightgray;
    border-bottom-right-radius: var(--button-border-radius);
    border-bottom-left-radius: var(--button-border-radius);
    background-color: greenyellow;
}
.details #book .title {
    font-weight: bold;
}
.details #book .description {
    font-size: x-small;
}