@import url('https://css.gg/css');
.gg-qr {
    /* This value will multiple the actual size  */
    --ggs: 1;
    color: green;
}

:root {
    --button-border-radius: 12px;
}
  

/*
BUTTONS
*/
/* top buttons */
.roundButton {
    z-index: 1;
    position: absolute;
    height: 5%;
    aspect-ratio: 1;
    top: 2%;
    background-color: white;
    border-radius: 50%;
}
#user {
    left: 2%;
}
#settings {
    right: 2%;
}