:root {
    /* --bike-icon-small-color: darkcyan; */
    --bike-icon-small-color: blue;
    --battery-low-color: red;
    --battery-medium-color: green;
    --battery-full-color: green;
}



/*
BIKE
*/
.bikeIcon {
    border-radius: 50%;
}

.fullBattery {
    border: solid 5px var(--battery-full-color);
    border-left-color: transparent;
}
.mediumBattery {
    border: solid 5px var(--battery-medium-color);
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.lowBattery {
    border: solid 5px var(--battery-low-color);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.bikeIconSmall {
    border: solid 3px var(--bike-icon-small-color);
}

.bikeIconFocus {
    /* border: solid 5px white; */
}