.avatar {
    border-radius: 50%;
    border: solid 2px white;
}



/*
BIKE
*/
.bikeIcon {
    border-radius: 50%;
}

.fullBattery {
    border: solid 5px green;
    border-left-color: transparent;
}
.mediumBattery {
    border: solid 5px yellow;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.lowBattery {
    border: solid 5px red;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.bikeIconSmall {
    border: solid 3px green;
}

.bikeIconFocus {
    border: solid 3px lightblue;
}