/*
GENERAL
*/
html,
body,
#map-container {
    height: 100%;
}

#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#map {
    z-index: 0;
    height: 100%;
}

.camera {
    z-index: 20;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 3rem;
    visibility: hidden;
}