/*
GENERAL
*/
html,
body,
#map-container {
    height: 100%;
}

#wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
/* .foreground {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    width: 100%;
} */

.background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#map {
    height: 100%;
}